<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<footer
    class="d-flex justify-content-center align-items-center py-2 my-2 border-top position-relative bottom-0 start-50 translate-middle-x w-100">
    <p class="mb-3 mb-md-0 text-body-secondary">© 2024 Burak Keçeci</p>
</footer>
</body>

</html>